{% for host, attrs in vault_ssh_hosts | default({}) | dictsort %}
Host {{ host }}
    HostName {{ attrs.hostname }}
    User {{ attrs.user }}
{% if attrs.port is defined %}
    Port {{ attrs.port }}
{% endif %}
{% endfor %}
